<div class="parallax-container">
      <div class="parallax">
        <img src="{{currentMovie.detail}}" class="materialboxed" onerror="this.src='https://www.utopolis.lu/bundles/utopoliscommon/images/movies/movie-placeholder.jpg'">
      </div>
</div>
<br>
<div class="container" id="down">
  <div class="row">
    <div class="col s12">
      <div class="left">
        <div class="col s10">
          <img id="poster" class="z-depth-3" src="{{currentMovie.poster}}" onerror="this.src='https://www.utopolis.lu/bundles/utopoliscommon/images/movies/movie-placeholder.jpg'">
          <h4>
            Rating: <i class="material-icons">grade</i>{{currentMovie.rating}}
          </h4>
          <div ng-show="user.loggedIn">
            <div class="center-allign">
              <a ng-if="!isInWatchlist" class="waves-effect waves-light btn" ng-click="toggle()">
                <i class="material-icons left">add</i>
                Add to Watchlist
              </a>
              <a ng-if="isInWatchlist" class="waves-effect waves-light btn" ng-click="toggle()">
                <i class="material-icons left">remove</i>
                Remove From Watchlist
              </a>
              <br>
              <br>
              <a class="waves-effect waves-light btn" ng-click="buyTickets(currentMovie)">
                <i class="material-icons left">payment</i>Buy Tickets
              </a>
            </div>
          </div>
        </div>
      </div>
      <h2>{{currentMovie.title}} ({{currentMovie.year}})</h2>
      <h3>Description:</h3>
      <p>{{currentMovie.description}}</p>
      <h3>Cast: </h3>
      <div class="row" ng-show"item.actors.length !== 0">
        <ul class="collection">
          <li ng-click="presentPerson(actor.actor)" class="collection-item avatar" ng-repeat="actor in currentMovie.actors">
            <img src="{{actor.actor.headshot}}" alt="" class="circle">
            <span class="title">{{actor.actor.name}}</span>
            <p>{{actor.role}}</p>
          </li>
        </ul>
      </div>
      <div ng-if="currentMovie.video">
        <h3>Trailer: </h3>
        <div class="z-depth-1">
          <div class="video-container">
            <iframe height="450" src="{{currentMovie.video}}" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
